*.o
*.hi
*.scp
dist*
build*
*-stamp
.ghc*
debian/*overrides
debian/*substvars
debian/*setup
debian/.debhelper
debian/illforce
debian/libghc-illforce*
debian/tmp*
debian/dh_haskell*
debian/extra*
debian/files
